header,main,footer {
    padding: 25px;
}

header, footer {
    text-align: center;
}

main {
  background-color: #835aa5;
  background-image: ""
}

header {
    background-color: #000000;
    min-height: 10vh;
    color: #ffffff;
  }

  
#Contacto form {
    display: grid;
    color: aliceblue;

    grid-template-columns: 2fr 5fr;

    grid-column-gap: 15px;
    grid-row-gap: 15px;

    width: 500px;

    margin: 25px auto;
    background-color: #242627;

    padding: 25px;
}

#Contacto form input[type="reset"], #Contacto form input[type="submit"] {
    border: none;
}

  footer {
    color: #a296ac;
    background-color: #171D1C;

    display: flex;
    justify-content: space-between ;
    align-items: center;
}

footer .redes {
    font-size: 1.5em;
}

footer .redes i {
    color:#a296ac;
    ;
    ;
    transition: 0.2s all;
}

footer .redes i:hover {
    color: #a16dcc;
}






