* {
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    padding: 25px;
}

header, footer, main {
    text-align: center;

}

main {
  background-color: #835aa5;
}

header {
    background-color: #000000;
    min-height: 10vh;
    color: #ffffff;
  }

 
  nav { /*Para fijar la barra pero no sale*/
    position: sticky;
    top: 0;
}

main h2, h3 {
    background-color: #835aa5;
}

#Productos h2 {
    padding: 15px 25px;
}

#Productos .contenido {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 25px;
}

#Productos .contenido article {
    color:#a296ac;
    background-color: #171D1C;
    padding: 15px;

    display: flex;
    flex-direction: column;
}

#Productos .contenido article h4 {
    font-size: 2em;
    padding: 15px 0;
}


footer {
    color: #a296ac;
    background-color: #171D1C;

    display: flex;
    justify-content: space-between ;
    align-items: center;
}

footer .redes {
    font-size: 1.5em;
}

footer .redes i {
    color:#a296ac;
    ;
    ;
    transition: 0.2s all;
}

footer .redes i:hover {
    color: #a16dcc;
}






